<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>京葉線の駅</title>
</head>
<body>
  <h2>京葉線の駅の詳細</h2>
  <table>
    <tr><th>ID</th><th>駅コード</th><th>駅名</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><%= row.code %></td>
        <td><a href="/keiyo2/<%= number %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/keiyo2/create">追加</a>
</body>
</html>